.leaflet-container {
	width:900px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
}

.map2-div {
	float:right;
	display:block;
}
.control2-div {
	float:left;
	display:block;
}

.container {
	margin-left: 15%;
	margin-right:15%;
}

div .enabled {
	background-color:#bbd8f5;
	margin-right:50px;
}

div .layer-control {
	padding-left:10px;
}

